<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
    <nav aria-label="Breadcrumb" class="breadcrumb">
        {% block breadcrumb %}{% endblock %}
    </nav>
    <header>
        <div class="header">
            <h1>{% block header %}{% endblock %}</h1>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>