<!DOCTYPE html>
<html>

<head>
    <title>{{year}} - {{ account_name }} - Instagram-Archiv</title>

    <link rel="stylesheet" type="text/css" href="static/css/styles.css">


</head>

<body>
    <div class="header">
        <div class="account-name"><a href = "index.html">{{ account_name }}</a></div>
    </div>
    <nav class="navigation">
        {% for this_year in all_years %}
        <a href="{{ this_year }}.html" {% if this_year==year %}style="font-weight: bold;" {% endif %}>{{ this_year }}</a>
        {% endfor %}
    </nav>
    <nav aria-label="Breadcrumb" class="breadcrumb">
        {% block breadcrumb %}{% endblock %}
      </nav>
    <div class="grid">
        {% for post in posts %}
        <div class="post">
            {% if post.images %}
            <div class="image-gallery">
                {% for image in post.images %}
                <div class="image-item">
                    <img src="../../{{ image }}" alt="{{post.accessibility_caption}}">
                   
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="caption">{{ post.caption }}</div>
            <div class="stats">
                <span>❤️ {{ post.like_count }}</span>
                <span>💬 {{ post.comments }}</span>
                <span>📅 {{ post.date }}</span>
                <a href="https://instagram.com/p/{{ post.shortcode }}" target="_blank">Quelle</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {% for y in all_years %}
        <a href="{{ y }}.html" {% if y==year %}style="font-weight: bold;" {% endif %}>{{ y }}</a>
        {% endfor %}
    </div>
</body>

</html>